.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation-duration: 2s;
    animation-name: slidein;
  }
}

.App-header {
  background-color: #121836;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #F2B705;
  text-decoration: none;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: auto;
  }

  to {
    margin-left: 0%;
    width: auto;
  }
}
