/* alignment of app */
.App {
  text-align: center;
}

/* bottom nav */
div.bottomnav {
  -webkit-box-shadow: 0 0 10px -3px #777;
     -moz-box-shadow: 0 0 10px -3px #777;
          box-shadow: 0 0 10px -3px #777;
  background-color: rgba(255, 255, 255, 0.877);
  width: 100%;
  height: 70px;
  position: fixed;
  font-family: 'ubuntubold';
  bottom: 0;
}

ul.navcontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
}

li.nav-text {
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

/* top nav */
div.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #242C6A;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0;
  width: 100%;
}

/* top nav logo */
.App-logo2 {
  height: 10vmin;
  pointer-events: none;
  padding: 5px 5px;
}

/* app logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 30px 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation-duration: 2s;
    animation-name: slidein;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: auto;
  }

  to {
    margin-left: 0%;
    width: auto;
  }
}

/* bgs */
.purple {
  background-color: #242C6A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.white {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

/* TODO LIST */
span.check {
  color: #242C6A;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

div.todoItem {
  font-family: 'ubunturegular';
  background-color: #EDEFFA;
  border-radius: 10px;
  width: 90%;
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* the purple line decoration on the tasks */
div.decorline {
  background-color: #242C6A;
  border-radius: 10px 0 0 10px;
  height: 87px;
  width: 15px;
  position: absolute;
  left: 17px;
}

/* links */
a { 
  text-decoration: none; 
  color: rgb(134, 134, 134);
  list-style: none;
}
a:visited { text-decoration: none; }
a:hover { 
  text-decoration: none; 
  color: #242C6A;
}
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.App-link {
  font-family: 'ubunturegular';
  color: white;
}

.App-link p {
  line-height: 10px;
  font-size: 20px;
}

/* headings */
h2 {
  font-family: 'ubuntubold';
  font-size: 40px;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 18px;
  padding: 10px;
}

/* h3 heading on task page */
div.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* content for div heading */
div.yellowline {
  background-color: #F7D720;
  height: 20px;
  width: 10px;
}

/* login */
.loginContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

form {
  padding: 1.5rem 1rem;
}

/* align labels + inputs to left */
.inputs {
  text-align: left;
  margin: 0 auto;
}

/* text */
.name label {
  font-size: 18px;
}

/* input box */
input {
  outline: none;
  border-top: none;
  border-bottom: 3px solid #F6A417;
  border-left: none;
  border-right: none;
}

input[type=text] {
  font-size: 20px;
}

input[type=password] {
  font-size: 20px;
}

/* Buttons */
button.loginbtn {
  font-family: 'ubuntubold';
  font-size: 18px;
  background-color: #F14F5E;
  color: white;
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 15px 40px;
}

button.addtask {
  background-color: #242C6A;
  border-radius: 16px;
  color: #DFEFE4;
  font-size: 20px;
  outline: none;
  border: none;
  width: 85px;
  height: 40px;
}

/* fonts */
@font-face {
    font-family: 'ubuntubold';
    src: url('fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

