* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MODAL SIZING */
.modal-wrapper {
    background-color: #fff;
    width: 100%;
    margin: 4rem auto;
}

.modal-header {
    padding: 1rem;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.modal-header span {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    padding: 1.5rem 2rem;
}

.modal-body {
    margin-bottom: 1rem;
}

.modal-body h4 {
    font-size: 18px;
    color: black;
}

.modal-body p {
    font-size: 18px;
}

/* MODAL CONTENT ITEMS */
button.btn-cancel {
    font-family: 'ubuntubold';
    background-color: #F14F5E;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 15px 40px;
    display: inline-flex;
    font-size: 1rem;
    margin: 1.5rem;
}

.btn-openModal {
    background-color: #242C6A;
    border-radius: 16px;
    color: #DFEFE4;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    border: none;
    width: 85px;
    height: 40px;
}

img#plusbutton {
    width: 20px;
    height: 20px;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

h3 {
    float: left;
}

hr {
    border-bottom: 1px solid #D0D0D0;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
}